body {
  background: #1e1e1e;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*{
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 0.5vmin;
}

::-webkit-scrollbar-track {
  background: #1E1E1E;
}

::-webkit-scrollbar-thumb {
  background: #FFD700;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFEA80;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: .5rem;
}

.btn {
  background-color: #d9ae38;
  padding: 1.5vmin 2vmin;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disable_Card_While_Saving{
  pointer-events: none !important;
  opacity: 0.5 !important;
  transition: all .2s ease !important;
  transition-timing-function: ease !important;
  cursor: not-allowed !important;
}

::placeholder{
  user-select: none;
}

.btn:hover {
  background-color: #ffc23f;
  transition-timing-function: ease;
  transition: all.4s;
}

.btn:active {
  transition-timing-function: ease-in-out;
  transition: all .2s;
  transform: scale(.9);
}

/* Overlay */
.searchbar.active,
.card_con.active,
.combine_footer_Loaded_All_Notes.active {
  opacity: .1 !important;
  pointer-events: none !important;
}


.create_edit_model_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin: 0 0 1rem 0;
}

.model_h3{
  user-select: none;
}

.create_edit_model_container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  transition: transform .6s ease, opacity 0.3s ease;
}

.close_Mark_Down_Menu:hover{
background-color: #585858 !important;
}

.dialog {
  z-index: 11;
  display: flex;
  flex-direction: column;
  width: 80%;
  /*   height: clamp(40rem, 45vw, 70rem); */
  border-radius: 1vmin;
  text-align: center;
  gap: 2vmin;
  justify-content: center;
  position: relative;
  align-items: center;
  border: none;
  font-family: sans-serif;
  background-color: #2A2A2A;
  color: #E3B23C;
  border: #E3B23C solid 2px;
}

.Video_Preview_Container {
  position: relative;
  z-index: 99;
  height: clamp(14rem, 18vw, 40rem);
  width: clamp(9rem, 35vw, 56rem);
  border-radius: 1vmin;
  overflow: hidden
}

.Close_Video_Preview_Btn {
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 99;
  font-size: 4vmin;
  font-family: sans-serif;
  background-color: #d7a500;
  padding: 1vmin;
  border-radius: 1vmin 0 1vmin 0;
  cursor: pointer;
}

.Audio_Preview_Container {
  position: relative;
  border-radius: 1vmin;
  width: 60%;
  height: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  padding-bottom: .3rem;
}


.Close_Audio_Preview_Btn {
  margin: 0;
  position: absolute;
  width: clamp(1.3rem, 6vw, 2.1rem);
  height: clamp(2.8rem, 8vw, 3.5rem);
  z-index: 99;
  font-family: sans-serif;
  background-color: rgb(217, 174, 56);
  cursor: pointer;
  border-radius: 0 1vmin 1vmin 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------------- */

.Close_Video_Preview_Btn:Hover,
.Close_Audio_Preview_Btn:Hover {
  background-color: #5c5c5c;
  transition: all .3s ease;
}

.Video_Preview {
  height: 100%;
  width: 100%;
  border-radius: 1vmin;
  object-fit: fill;
}

.Audio_Preview {
  width: 100%;
  border-radius: 1vmin;
  object-fit: fill;
}

/* ----------------------------------------------------- */


.Notes_View_UI_Container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  z-index: auto;
  transition: transform .6s ease, opacity 0.3s ease;
}


.document {
  max-width: clamp(10rem, 30vw, 30rem);
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .3rem;
  background-color: #1C1C1C;
  border-radius: 1vmin;
  padding: clamp(.4rem, 1vw, 1rem) clamp(.4rem, 1.5vw, .6rem);
}

.document svg {
  height: clamp(16px, 3vw, 34px);
  width: clamp(16px, 3vw, 34px);
}

.document:hover {
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
  transition: all ease .3s;
}

.document .scrollable-text {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  /* Firefox */
  scroll-behavior: smooth;
  scrollbar-color: #fff15a rgb(26, 26, 26);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollable-text::-webkit-scrollbar {
  width: 0px;
  /* Hide scrollbar */
  height: 0px;
}


.document a {
  min-width: max-content;
  /* Prevents text from wrapping */
  word-break: normal;
  list-style: none;
  outline: none;
  text-decoration: none;
  color: #FFD700;
  font-size: clamp(.8rem, 1.2vw, 1.5rem);
  font-weight: bold;
  font-family: monospace;
}

.document a:hover {
  background-color: #1C1C1C;
  transition: all ease .3s;
  text-decoration: none;
}

@media (max-width: 1100px) {

  .Critical_Error {
    width: 35% !important;
  }

}



@media (min-width: 1400px) {

  .img,
  .audio,
  .video {
    max-width: 60% !important;
  }
}


@media (max-width: 1800px) {
  .Screen_load_animation_end {
    margin: clamp(2rem, 4vw, 5rem) 0 0 0 !important;
  }
}


@media (min-width: 1000px) {

  .img,
  .audio,
  .video {
    max-width: 70%;
  }

  .img img {
    max-height: 60vh !important;
    object-fit: fill;
  }
}


@media (max-width: 1000px) {
  .Screen_load_animation_end {
    margin: clamp(2rem, 5vw, 5rem) 0 0 0 !important;
  }
}


@media (min-width: 800px) {

  .video video {
    max-height: 60vh !important;
    object-fit: fill;
  }
}


@media (max-width: 768px) {

  .Screen_load_animation_end {
    margin: clamp(2rem, 6vw, 5rem) 0 0 0 !important;
  }

  .delete-modal {
    width: 40vw !important;
  }

  .media_in_note_view_ui_width {
    width: 95% !important;
  }

  .searchbar input:focus {
    border: 1px solid #E3B23C !important;
  }

  .btn-head_con * {
    font-size: 7vmin !important;
    margin: .5vmin 0 !important;
  }

  .title {
    font-size: 3vmin !important;
    margin-bottom: 2vmin !important;
  }

  .model_note {
    font-size: 3.5vmin !important;
  }

  .done,
  .close {
    font-size: 3.5vmin !important;
  }

  .Critical_Error {
    width: 40% !important;
  }
}


@media (max-width: 650px) {
  .card_con {
    gap: 3vmin !important;
  }

  .card_con .cards {
    width: 40vmin;
  }

  .card_con .Title_Con {
    width: 40vmin;
    height: 6vmin;
  }

  .card_con .Card_Title {
    font-size: 3vmin !important;
  }

  .card_con .Para_Con {
    width: 40vmin;
    height: 28vmin;
  }

  .Card_Para {
    font-size: 3vmin !important;
  }

  .card_con .cards:hover {
    transform: scale(1.05);
    transition: all .2s ease;
    outline: none !important;
    filter: none !important;
    box-shadow: none !important;
  }

  .extra {
    height: 6vmin !important;
  }

  .cards h4 {
    font-size: 2.6vmin !important;
  }
}

@media (max-width: 600px) {

  .notes_card_footer_btn_container {
    width: 32% !important;
  }

  .notes_card_footer_btn_container button {
    width: 5.2vmin !important;
  }

  .notes_card_footer_btn_container button svg {
    width: 5vmin !important;
    height: 5vmin !important;
  }

  .delete-modal {
    width: 50vw !important;
  }

}

@media (max-width: 500px) {
  .Card_Para {
    font-size: 3.5vmin !important;
  }

  .card_con .Card_Title {
    font-size: 3.2vmin !important;
  }

  .Close_Video_Preview_To_Audio_Btn {
    padding: 1vmin 1vmin 1vmin 1.7vmin;
  }

  .Audio_Preview_Container {
    width: 70%;
  }

  .notepag_con {
    min-height: 5vh !important;
  }

  .searchinput {
    font-size: 3vmin !important;
  }

}

@media (max-width: 370px) {

  .search-container .searchinput {
    width: 80%;
  }

  .search-container svg {
    right: 3vmin !important;
  }

  .delete-modal {
    width: 60vw !important;
  }

}


/* Active class */
.create_edit_model_container.active,
.Notes_View_UI_Container.active {
  transform: scale(1) !important;
  z-index: 2;
  /* for make it visible from header of app */
  transition-timing-function: ease !important;
  transition: transform 0.4s ease, opacity 0.2s ease !important;
  opacity: 1;
}

.dialog h3 {
  font-size: clamp(1rem, 1.6vw, 3rem);
  color: #E3B23C;
  margin: 0;
}

.notes_Writing_Area_Wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vmin;
}

.model_note {
  padding: .5vmin 1vmin;
  border-radius: 1vmin;
  line-height: clamp(2rem, 5vw, 3rem);
  text-align: left;
  font-size: 2.6vmin;
  overflow: scroll;
  height: 40vh;
  width: 80%;
  outline: none;
  background: #2F2F2F;
  color: #fff;
  border: 1px solid #555;
  overflow-y: auto;
  overflow-x: hidden;
}

.model_note p{
  margin: 0 !important;
}

.model_note.empty::before {/* Class for doing fake place holder */
  content: attr(data-placeholder);
  font-size: clamp(.7rem, 1.2vw, 2.2rem);
  color: rgb(163, 138, 0);
  pointer-events: none;
  position: absolute;
  display: block;
}

.model_note:focus {
  border: white 1px solid;
}

.vid {
  width: 86vmin;
  margin: 0;
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
  border-radius: 1vmin;
  object-fit: fill;
}

.preview_textarea{
/*   position: absolute; */
margin: 1rem 0 0 0;
  text-align: justify;
  width: max-content;
  height: max-content;
  overflow: scroll;
  word-wrap: break-word;
  white-space: pre-wrap;
  background: #222;
  color: white;
  border: 1px solid #444;
  border-radius: 1vmin;
  padding: .5vmin 1vmin;
  font-size: 2.6vmin;
  outline: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.preview_textarea::-webkit-scrollbar {
  width: 0px;
  /* Hide scrollbar */
  height: 0px;
}

.preview_textarea *{
  margin: 0;
}

/* .textarea_preview_showing{
  fill: black;
} */

.notepag_con::-webkit-scrollbar,
.model_note::-webkit-scrollbar {
  width: 0.5vmin;
}

.notepag_con::-webkit-scrollbar-track,
.model_note::-webkit-scrollbar-track {
  border-radius: 1vmin;
  background: #2A2A2A;
  margin-top: 1vmin;
}

.notepag_con::-webkit-scrollbar-thumb,
.model_note::-webkit-scrollbar-thumb {
  background: #BFA300;
  border-radius: 1vmin;
}

.notepag_con::-webkit-scrollbar-thumb:hover,
.model_note::-webkit-scrollbar-thumb:hover {
  background: #FFD700;
}

/* .model_note::placeholder {
  color: rgb(13, 255, 0);
} */

.dialog .done,
.dialog .close {
  /*   width: 30%; */
  border: none;
  font-size: 3vmin;
  letter-spacing: 1px;
  border-radius: 10vmin;
  padding: 1.5vmin 10vmin;
  background-color: rgb(0, 123, 255);
  color: white;
}

.Notepage_View_Full_Screen_And_Change_Color_Container {
  width: 100.8%;
  transform: translateX(.32vmin);
  border-bottom: solid 2px #FFD700;
  background-color: #2A2A2A;
  border-top-left-radius: 1vmin;
  border-top-right-radius: 1vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 200;
}

.Notes_View_UI_Heading {
  user-select: none;
  margin: 0 0 0 clamp(.5rem, 2vw, 1.5rem);
  font-size: clamp(1rem, 3vw, 1.8rem);
  font-weight: bolder;
  font-family: sans-serif;
  color: #C4A000;
}

.Notes_View_UI_Heading:hover {
  color: #ffc23f;
}

.View_Content_buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: .5rem;
  column-gap: .5rem;
  margin-right: clamp(.4rem, 2vw, 1.5rem);
}

.View_Content_buttons button {
  padding: clamp(.2rem, 1vw, .5rem);
  background-color: #C4A000;
}

.View_Content_buttons button svg {
  width: clamp(1rem, 3vw, 1.5rem);
  height: clamp(1rem, 3vw, 1.5rem);
}

.notepage {
  border-radius: 1vmin;
  width: 70%;
  text-align: center;
  font-family: sans-serif;
  border: none;
  position: relative;
  z-index: 9;
  padding: 0;
  background-color: #2A2A2A;
}

.disable_body_scroll_on_note_full_screen {
  overflow: hidden !important;
  /* Disable scrolling */
  height: 100vh;
  /* Prevent layout shift */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
}

.notepage_full_screen {
  width: 100%;
  height: 100%;
  top: 0 !important;
  bottom: 0;
  border-radius: unset;
}

.notepag_con {
  min-height: 15vh;
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  scroll-behavior: smooth;
}

.notepag_con_full_screen {
  max-height: 100vh;
}

.notepag_con .View_Text_In_UI {
  font-size: clamp(1rem, 3vw, 1.5rem);
  word-spacing: 2px;
  word-wrap: break-word;
  width: 95%;
  line-height: clamp(2rem, 5vw, 3rem);
  z-index: 100;
}

.View_Text_In_UI p{
  margin: 0;
}

.View_Text_In_UI_Title {
  line-height: normal !important;
  font-size: clamp(1.1rem, 3vw, 1.6rem) !important;
  font-weight: bolder;
  margin: clamp(1.5rem, 3vw, 3rem) 0 clamp(.1rem, 1vw, 1rem) 0 !important;
  color: #ab8834;
}

.error_msg {
  margin: 0;
  padding: .2vmin 0;
  font-size: 2.6vmin;
  font-family: sans-serif;
  background-color: rgba(255, 0, 0, 0.757);
  color: white;
  font-weight: bolder;
  border-radius: 1vmin;
}

.done:hover {
  background-color: rgb(59, 59, 59);
  transition-timing-function: ease-in-out;
  transition: all .4s;
}

.done:active {
  transform: scale(.8);
  transition-timing-function: ease-in-out;
  transition: all .4s;
}

.close {
  background-color: #E3B246;
}

.close:hover {
  background-color: #ffba26;
  transition-timing-function: ease;
  transition: all .3s;
}

.close:active {
  transform: scale(.9);
  transition-timing-function: ease;
  transition: all .2s;
}

/* End */




.btn-head_con * {
  font-size: 6vmin;
  margin: 0 !important;
}

.Screen_load_animation_end {
  opacity: 1 !important;
  margin: clamp(2rem, 3vw, 5rem) 0 0 0;
  transition-timing-function: ease;
  transition: opacity .4s, margin .6s;
}

.card_con {
  opacity: 0;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
  position: relative;
  top: 4vmin;
  padding-bottom: 10vmin;
  user-select: none;
}

.notesheading {
  color: rgb(255, 183, 0);
  margin-top: 3vmin;
  margin-bottom: 0vmin;
  text-align: center;
  font-family: sans-serif;
}

.cards {
  width: 35vmin;
  /*   height: 35vmin; */
  font-size: 2.6vmin;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1vmin;
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition-timing-function: ease-in;
  transition: opacity .3s, transform .2s;
}



.cards:hover {
  transform: scale(1.03);
  outline: 2px solid rgba(255,215,0,0.3);
  filter: drop-shadow(0 0 8px gold);
  transition: all .2s ease;
}

.Title_Con {
  width: 35vmin;
  height: 5vmin;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*   background-color: rgb(68 68 68) !important; */
}


.Card_Title {
  font-size: 2.4vmin;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  overflow: hidden;
  margin: 0;
}


.Para_Con {
  cursor: pointer;
  margin: 0;
  width: 35vmin;
  padding: 0;
  height: 25vmin;
  overflow: hidden;
  /*   background-color: rgb(46 46 46); */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;

}

@-moz-document url-prefix() {

  *{
    scrollbar-width: thin;
    scrollbar-color: #FFD700 #2A2A2A;
    scroll-behavior: smooth;
  }

  .Para_Con {
    height: 23.5vmin;
  }

  @media screen and (max-width: 650px) {
    .card_con .Para_Con {
      height: 27.8vmin;
    }
  }
}

.Card_Para {
  cursor: pointer;
  margin: 1.5vmin 0;
  word-wrap: break-word;
  width: 95%;
}

.title {
  width: 80%;
  height: 4vmin;
  background: #2F2F2F;
  color: #fff;
  border-radius: 1vmin;
  padding: .5vmin 1vmin;
  font-size: 2.6vmin;
  font-family: sans-serif;
  font-weight: bold;
  outline: none;
  border: 1px solid #555;
}

.title::placeholder {
  color: rgb(163, 138, 0);
  font-size: clamp(.7rem, 1.2vw, 2.2rem);
}

.title:focus {
  border: white 1px solid;
}

.cards h4 {
  font-size: 2.4vmin;
  margin: 0;
}

.media_in_note_view_ui {
  width: 100%;
  background-color: #3A3A3A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media_in_note_view_ui_width {
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.note_view_ui_close_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 56vw;
}

.toggle_close_btn_center_on_full_screen {
  justify-content: center !important;
}

.close_note_view {
  margin: 0 0 2vmin 0;
  padding: 1vmin 2vmin;
}

.Upload_Loader {
  display: none;
  border: solid clamp(.2rem, .3vw, .8rem);
  border-radius: 8rem;
  border-bottom-color: gold;
  border-left-color: gold;
  width: 2vmin;
  height: 2vmin;
  position: absolute;
  animation: UpLoader 1s ease-in infinite forwards;
}

@keyframes UpLoader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Upload_Loader_active {
  display: block;
}

.Upload_Loader_active_media {
  display: block;
  margin: 2vmin 0;
  z-index: 99;
  position: relative;
}



.More_Notes_Loader {
  display: block;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.extra {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5vmin;
  /*   background-color: rgb(68 68 68); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.notes_card_footer_btn_container {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-between;
  /*  padding: .5vmin 0; */
}

.notes_card_footer_btn_container button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vmin;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: .5vmin;
  width: 4.2vmin;
  height: 4vmin;
}


.edit {
  background-color: #E3B23C;
  color: #1E1E1E;
}

.edit:hover {
  background-color: #ffb300;
  transition: all ease .3s;
}

.edit:active {
  transform: scale(.9);
  transition: all ease .2s;
}

.delete {
  background-color: rgb(219, 45, 45);
  color: rgb(255, 255, 255);
}

.delete:hover {
  transition: all ease .3s;
  background-color: rgb(255, 34, 34);
}

.delete:active {
  transform: scale(.9);
  transition: all ease .2s;
}

.smoothhide {
  opacity: 0;
  transform: scale(0) !important;
  transition-timing-function: ease !important;
  transition: opacity .2s, transform .3s !important;
}

.Top_Container {
  background-color: #2A2A2A;
  border-bottom: 2px solid #E3B23C;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vmin;
  position: fixed;
  top: 0;
  z-index: 1;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.searchbar h1 {
  user-select: none;
  color: #e3b246;
  font-size: clamp(60%, 4vw, 180%) !important;
  margin: 0;
}

.search-container {
  position: relative;
}

.searchinput {
  border-radius: .5vmin;
  background-color: #1E1E1E;
  color: white;
  border: none;
  outline: none;
  height: clamp(1rem, 3vw, 1.5rem);
  font-size: 2vmin;
  font-family: sans-serif;
  width: 90%;
  padding: .5vmin 4vmin .5vmin .5vmin;
}

.searchinput:focus {
  border: 3px solid #E3B23C;
}

.search-container svg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  fill: #e3b246;
  width: 1.5rem;
  height: clamp(.8rem, 3vw, 2rem);
  pointer-events: none;
}


.addbtn svg {
  height: clamp(.8rem, 1.2vw, 1.5rem);
  width: clamp(.8rem, 1.2vw, 1.5rem);
}


.loading {
  user-select: none;
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 1;
  row-gap: 2vmin;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading * {
  margin: 0;
}

.loading h1 {
  font-size: 4vmin;
  color: rgb(255, 232, 98);
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
  user-select: none;
}

.loading p {
  user-select: none;
  height: 8vmin;
  width: 8vmin;
  border-radius: 100%;
  border-top: .8vmin solid rgb(255, 194, 27);
  border-bottom: .8vmin solid rgb(59, 59, 59);
  border-left: .8vmin solid rgb(59, 59, 59);
  border-right: .8vmin solid rgb(59, 59, 59);
  animation: loader 2s ease infinite forwards;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading.active {
  opacity: 0;
  transition: transform .3s, opacity .5s;
  transform: scale(1.2) !important;
  transition-timing-function: ease;
}

.img,
.audio,
.video {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 2vmin 0;
  position: relative;
}


.img img,
.audio audio,
.video video {
  border-radius: 2vmin;
  width: 100%;
  position: relative;
}

.img img {
  border: solid #888888 2px;
}

.img img:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  transition: all .3s ease;
}

.video_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(20 20 20 / 97%);
  /* display: none; */
  transition: opacity .3s ease;
  opacity: 1;
  border-radius: 2vmin;
}

.hide_video_overlay {
  opacity: 0;
}

/* ------------------------------------- */
/* Audio Player Base */
audio {
  width: 100%;
  background: #222;
  /* Dark background */
  border-radius: 8px;
  /* Smooth rounded corners */
  padding: 5px;
}

/* Hide Default Background */
audio::-webkit-media-controls-panel {
  background-color: #222 !important;
  border-radius: 8px;
}

/* ✅ Play Button - Restore Proper Circular Shape */
audio::-webkit-media-controls-play-button {
  background-color: #FFD700 !important;
  /* Gold */
  border-radius: 50% !important;
  /* Ensures it's a perfect circle */
  width: 36px !important;
  height: 36px !important;
  box-shadow: 0 2px 5px rgba(255, 215, 0, 0.3);
  /* Soft glow */
}

/* ✅ Fix Fat Slider Dot (Thumb) */
audio::-webkit-media-controls-timeline {
  border-radius: 5px;
}

/* ✅ Progress Bar - Make It Clean */
audio::-webkit-media-controls-progress-bar {
  background: #FFD700 !important;
  /* Gold */
  height: 4px !important;
  /* Adjusted height */
  border-radius: 3px;
}

/* ✅ Fix Fat Dot (Thumb) on Progress Bar */
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
  background-color: transparent !important;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: #FFD700 !important;
  /* Gold text */
}

/* ✅ Fix the Fat Dot on Slider */
audio::-webkit-media-controls-timeline::-webkit-slider-thumb {
  background: #FFD700 !important;
  width: 12px !important;
  /* Adjusted for a better proportion */
  height: 12px !important;
  /* Same as width */
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(255, 215, 0, 0.3);
  /* Soft glow effect */
}




/* Play Button */
video::-webkit-media-controls-play-button {
  background-color: #FFD700 !important;
  border-radius: 50%;
  transform: scale(.6);
}

/* ✅ Base Video Styling */
video {
  background: #222;
  /* Dark background */
  box-shadow: 0 4px 10px rgba(255, 215, 0, 0.2);
  /* Soft gold glow */
}

/* Make sure the controls only show when needed */
video:hover::-webkit-media-controls-panel {
  opacity: 1 !important;
  /* Keep controls visible */
  background: transparent !important;
  /* Remove hover layer */
}


/* --------------------------------- */

.attachmentBtns {
  display: flex;
  align-items: center;
  margin: 0;
  gap: .5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 48%;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.attachmentBtns::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.attachmentBtns #fileInput {
  display: none;
}

.attachmentBtns button,
.custom_Choose_file {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3A3A3A;
  border: none;
  padding: clamp(.5rem, .8vw, 1rem);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.attachmentBtns button:disabled svg {
  fill: #2b2b2b;
}

.attachmentBtns button:disabled {
  background-color: #3A3A3A;
}

.attachmentBtns button svg,
.custom_Choose_file svg {
  fill: #FFD700;
  width: clamp(1rem, 1.5vw, 3rem);
  height: clamp(1rem, 1.5vw, 3rem);
}

.attachmentBtns button:hover,
.custom_Choose_file:hover {
  background-color: #7c6a1f;
  transition-timing-function: ease;
  transition: all .3s;
}

.attachmentBtns button:active,
.custom_Choose_file:active {
  transform: scale(.8);
  transition-timing-function: linear;
  transition: all .5s;
}


.MarkDownMenu button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(.4rem, .6vw, .6rem) !important;
  font-size: clamp(1rem, .8vw, 2rem) !important;
}

.MarkDownMenu button:hover{
  background-color: rgb(100, 100, 100);
}

.MarkDownMenu button svg{
  padding: 0;
  margin: 0;
  width: clamp(1.2rem, 2vw, 3rem) !important;
  height: clamp(1.2rem,2vw, 3rem) !important;
}


/* ------------------------------------- */

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#cameraOptions {
  text-align: center;
  margin-bottom: 20px;
  display: none;
}


#overlay {
  position: absolute;
  display: none;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

#overlay .sound-bars {
  display: flex;
  gap: 5px;
}

#overlay .sound-bars div {
  width: 10px;
  height: 20px;
  background: rgb(255, 208, 0);
  animation: sound-bar-animation 0.6s infinite ease-in-out;
}

#overlay .sound-bars div:nth-child(2) {
  animation-delay: 0.1s;
}

#overlay .sound-bars div:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes sound-bar-animation {

  0%,
  100% {
    height: 10px;
  }

  50% {
    height: 30px;
  }
}

/* ---------------------------- */

.itemDeletePanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: .5%;
  top: 25vmin;
  z-index: 20;
}

.itemDeletePanel * {
  margin: .5vmin 0 !important;
  font-size: 2vmin;
  font-family: sans-serif;
  z-index: 20;
}

.itemDeletePanel button {
  padding: 1.2vmin;
  outline: none;
  border: none;
  background-color: floralwhite;
  border-top-right-radius: 3vmin;
  border-bottom-left-radius: 3vmin;
}

.itemDeletePanel button:hover {

  background-color: #cc00ff;
  transition-timing-function: linear;
  transition: all .5s;
}

.itemDeletePanel button:active {
  transform: scale(.8);
  transition-timing-function: linear;
  transition: all .5s;
}

.parent {
  height: 0;
  overflow-y: auto;
  transform: translateX(.6vmin);
  border-radius: 1vmin;
  transition-timing-function: ease-out;
  transition: height .2s;
}

.ShowBtns {
  height: 38vh !important;
  transition-timing-function: ease;
  transition: height .5s;
}

.parent::-webkit-scrollbar {
  width: .5vmin;
}

.parent::-webkit-scrollbar-track {
  background-color: transparent;
  margin-block: .6vmin;
  border-radius: 5vmin;
}

.parent::-webkit-scrollbar-thumb {
  background-color: #cc00ff;
  border-radius: 5vmin;
}


.itemShowCon {
  border-radius: 1vmin;
  overflow-y: auto;
}

.itemShowCon div div {
  background-color: rgb(0 226 25);
}

.itemsShow::-webkit-scrollbar,
.itemShowCon::-webkit-scrollbar {
  display: none;
  background-color: transparent;
}

.itemsShow {
  width: 9vmin;
  font-size: 2.4vmin;
  overflow: scroll;
  border: none;
  cursor: pointer;
  outline: none;
  padding: .5vmin;
  color: white;
}

.itemsShow:hover {
  background-color: white;
  color: black;
  transition-timing-function: linear;
  transition: all .5s;
}

.Critical_Error {
  width: 25%;
  background-color: rgb(255, 204, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  position: fixed;
  z-index: 999;
  transform: translateX(-100vmin);
  transition: transform .3s ease-in;
  top: 40vh;
  user-select: none;
}

.Critical_Error_Active {
  transform: translateX(0);
  transition: transform .3s ease;
}

.Critical_Error * {
  font-weight: bolder;
}

.Critical_Error p {
  font-size: 3vmin;
  color: rgb(171, 106, 0);
  text-align: center;
  margin: 0 1vmin 0 1vmin;
}

.Critical_Error button {
  padding: 4vmin 3vmin;
  font-size: 3vmin;
  background-color: #ffaa00;
  color: black;
  border: none;
  border-radius: 2vmin 0 0 2vmin;
  cursor: pointer;
}

.Critical_Error button:hover {
  background-color: black;
  color: rgb(255, 183, 0);
  transition: all ease-in .3s;
}

/* Footer */
.combine_footer_Loaded_All_Notes {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Load_All_Notes_Container {
  z-index: 99;
  position: relative;
  bottom: 0;
  height: 0;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateX(0) translateY(20px);
  background: linear-gradient(135deg, #C2993A, #A67C00);
  font-weight: bold;
  border-radius: 1vmin;
  color: black;
  box-shadow: 0 5px 15px rgba(255, 215, 0, 0.2);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: clamp(.3rem, 1vw, 1rem);
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  min-width: 10%;
  padding: 0 1vmin;
}

.Load_All_Notes_Container h3 {
  position: relative;
  width: 100%;
  font-size: clamp(45%, 1vw, 200%);
  word-break: keep-all;
  margin: 1vmin 0;

}

.Load_All_Notes_Container_Show {
  opacity: 1;
  transform: translateX(0) translateY(0);
  pointer-events: all;
}

/* Close Button */
.Load_All_Notes_Container_Close_Btn {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  padding: .1rem;
}

.Load_All_Notes_Container_Close_Btn svg {
  width: clamp(1rem, 2vw, 1.5rem);
  height: clamp(1rem, 2vw, 1.5rem);
}

.Load_All_Notes_Container_Close_Btn:hover {
  background: rgba(0, 0, 0, 0.5);
}


.notes-actions {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1vmin 0;
  border-top: 2px solid #E3B23C;
  background-color: #2A2A2A;
}

.storage_capacity {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4vmin;
  width: 15vmin;
  font-weight: bolder;
  font-family: sans-serif;
  border: navajowhite;
  outline: none;
  border-radius: 1vmin;
  border: 3px solid #E3B23C;
}

.storage_capacity .used_capacity {
  display: flex;
  align-items: center;
  margin: 0;
  width: 30%;
  height: 4vmin;
  background-color: #E3B23C;
}

.storage_capacity .used_capacity span {
  user-select: none;
  font-size: 2.2vmin;
  color: #E3B23C;
  position: absolute;
  font-weight: bolder;
  right: 10%;
}

.notes-actions button {
  position: relative;
  height: clamp(1.5rem, 5vw, 3rem);
  width: clamp(1.8rem, 5vw, 4rem);
  padding: .5vmin;
}

.notes-actions button svg {
  height: clamp(18px, 3vw, 32px);
  width: clamp(18px, 3vw, 40px);
}

.empty_card_container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100vw;
}

.empty_card_container_message {
  text-align: center;
  font-size: clamp(.8rem, 1.5vw, 2.5rem);
  color: #aaa;
  padding: clamp(0.2rem, 1vw, .5rem);
  border-radius: 5px;
  background: rgba(255, 215, 0, 0.1);
  border: clamp(2px, 1vw, 3px) dashed rgba(255, 215, 0, 0.5);
}

.delete-modal {
  user-select: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 30vw;
  left: 0;
  height: 100vh;
  background: rgb(28, 28, 28);
  border-right: 2px solid gold;
  box-shadow: -10px 0 20px rgba(255, 215, 0, 0.3);
  transform: translateX(-100%);
  opacity: 0;
  transition-timing-function: ease-out;
  transition: opacity .2s, transform 0.5s;
  z-index: 100;
  overflow: hidden;
  padding: 0 1rem;
  border-top-right-radius: 0vmin;
  border-top-left-radius: 1vmin;
  border-bottom-left-radius: 1vmin;
}

/* Active Class to Show */
.delete-modal.active {
  transform: translateX(0);
  opacity: 1;
  transition-timing-function: ease;
  transition: opacity .8s, transform 0.5s;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 0.5rem 0;
}

.header h2 {
  margin: 0;
  font-size: clamp(0.8rem, 1.5vw, 2.2rem);
  color: white;
}

/* Close Button */
.close-modal {
  position: relative;
  background: none;
  border: none;
  font-size: clamp(0.8rem, 1.5vw, 2.5rem);
  color: #252525;
  cursor: pointer;
  background: #c5ae30;
  border-radius: 0.1rem;
  padding: 0;
  z-index: 101;
}

.close-modal svg {
  height: clamp(20px, 2vw, 40px);
  width: clamp(20px, 3vw, 45px);
  padding: 0.1rem 0 0 0;
}

.close-modal:hover {
  background-color: gold;
  transition: all 0.3s ease;
}

.all_media_types_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 86%;
  gap: clamp(0.1rem, 1vw, 1rem);
  position: relative;
  top: 2rem;
}

/* Section Styling */
.section {
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(255, 215, 0, 0.2);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.section-title {
  font-size: clamp(0.8rem, 1.3vw, 1.8rem);
  color: gold;
  position: sticky;
  top: 0;
  background: #1c1c1c;
  z-index: 100;
  margin: 0;
  text-align: left;
}

/* Scrollable Container */
.scrollable {
  height: 12.5vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: gold transparent;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.scrollable::-webkit-scrollbar-track {
  border-radius: 1vmin;
  background: #2a2a2a;
  margin-top: 1vmin;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #bfa300;
  border-radius: 1vmin;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #ffd700;
}

/* Media & File Items */
.file-list,
.media-list,
.recording-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a2a2a;
  padding: 0.4rem;
  border-radius: 8px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
}

/* File Name Scroll in X-axis */
.items span {
  overflow-x: auto;
  white-space: nowrap;
  color: white;
  font-size: clamp(0.8rem, 1.1vw, 1.6rem);
  padding: 0.2rem;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.items span::-webkit-scrollbar {
  width: 0px;
  /* Hide scrollbar */
  height: 0px;
}

/* Hover Effect */
.items:hover,
.items:hover,
.items:hover {
  background: rgba(255, 215, 0, 0.2);
}

/* Delete Button */
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #b94949;
  font-size: clamp(0.8rem, 1vw, 2rem);
  margin: 0;
  transition: 0.3s;
}

.delete-btn:hover {
  color: red;
  transform: scale(1.2);
}

.media_and_file_delete_animation {
  animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.empty-message {
  text-align: center;
  font-size: clamp(0.5rem, 1vw, 1.2rem);
  color: #aaa;
  padding: clamp(0.2rem, 1vw, 0.6rem);
  border-radius: 5px;
  background: rgba(255, 215, 0, 0.1);
  border: 1px dashed rgba(255, 215, 0, 0.5);
}

.note_create_edit_model_btns_container {
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.edit_create_done_close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.delete_media_panel_toggle_btn {
  background-color: #b70303;
}

.delete_media_panel_toggle_btn:hover {
  background-color: #ff0000;
  transition: all .3s ease;
}

.close_note_create_edit_btn {
  background-color: #535353;
}


.close_note_create_edit_btn:hover {
  background-color: #6d6d6d;
  transition: all .3s ease;
}

.close_note_create_edit_btn svg {
  stroke: #ffffff;
}

.note_create_edit_model_btns_container button svg {
  width: clamp(.8rem, 1.5vw, 3rem);
  height: clamp(.8rem, 1.5vw, 3rem);
}


.recording_preview_container {
  position: absolute;
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}


.recording_preview_container div span svg {
  width: clamp(.8rem, 1.5vw, 3rem);
  height: clamp(.8rem, 1.5vw, 3rem);
  stroke: white;
}

.color_full_notes_card_active_toggler {
  fill: green;
}

.color_full_notes_card_active_line {
  stroke: white;
}

.override_Load_All_Notes_Container_position {
  transform: translateX(0) translateY(0px);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: unset !important;
  width: clamp(13rem, 32vw, 48rem);
  user-select: none;
}

.Load_All_Notes_Container_Show_override_position {
  opacity: 1;
  transform: translateX(0) translateY(-60px);
  pointer-events: all;
}


.flash_light_on {
  fill: #FFD700;
  stroke: #FFD700;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.Flash_light_not_available {
  background-color: gray !important;
  stroke: #c5a800 !important;
  fill: none !important;
}

.Active_btn {
  background-color: #000000 !important;
  color: #fff;
}

input[type="checkbox"][data-readonly] {
  pointer-events: none;      /* disable interaction */
  opacity: 1;                /* full opacity */
  filter: none;              /* no graying */
  cursor: default;           /* normal cursor */
  accent-color: #2a9d8f;     /* vibrant teal */
}

/* if you want the box itself to fill when checked */
input[type="checkbox"][data-readonly]:checked {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}

/* #toolbar {
  margin-bottom: 10px;
}

#toolbar button {
  margin-right: 5px;
  padding: 6px 12px;
  cursor: pointer;
  background: #222;
  border: 1px solid #555;
  color: #c3c3c3;
}

#toolbar button.active {
  background-color: #555;
  color: #fff;
}

#editor {
  width: 100%;
  min-height: 250px;
  border: 1px solid #555;
  padding: 10px;
  overflow: auto;
  background: #111;
  color: #fff;
}

#notes-panel,
#note-view {
  margin-top: 20px;
  border: 1px solid #444;
  padding: 10px;
  background: #111;
}

#notes-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#notes-panel li {
  cursor: pointer;
  padding: 4px;
  border-bottom: 1px solid #333;
}

#notes-panel li:hover {
  background: #333;
}

#note-view {
  display: none;
}

#note-view h3 {
  margin-top: 0;
}
 */
/* --------------- Your “Robust” Styles --------------- */
/* Tables */
.table-container {
  width: 100%;
  font-size: clamp(1rem, 3vw, 1.5rem);
  overflow-x: auto;
  margin: 1.5rem 0;
  border: 1px solid #444;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.table-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #131313;
  color: #d7d7d7;
  margin: 0;
}

th,
td {
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: clamp(.2rem, 1vw, .5rem) clamp(.4rem, 1vw, .8rem);
  border: 1px solid #444;
  vertical-align: top;
}

th {
  background-color: #333;
}

/* Headings */
/* h1,
h2,
h3 {
  margin: 1.5rem 0;
  font-weight: bolder;
}

h4,
h5,
h6 {
  margin: 2rem 0;
  font-weight: bolder;
} */

/* Horizontal rule */
hr {
  border: none;
  border-top: 1px solid #444;
  margin: 1em 0;
  background: none;
  height: 1px;
}

/* Lists */
ul,
ol {
  margin: 0.5em 0 0.5em 1.5em;
  word-wrap: break-word; /* Break long words to fit container */
  padding: 0;
}

ul li,
ol li {
  margin: 1rem 0;
}

/* Blockquotes */
.blockquote,
blockquote {
  padding-left: 1em;
  margin: 1.5rem 0;
  border-left: 3px solid #ccc;
  font-style: italic;
  color: #d1bd47;
}

/* Code blocks */
.code-block,pre {
  border-radius: 5px;
  overflow-x: auto;
  font-family: Consolas, "Courier New", monospace;
  line-height: 1.5;
  max-width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.code-block{
  padding: clamp(0.5rem, .8vw, 1rem);
  margin: clamp(0.5rem, .8vw, 1rem) 0;
  background: #3b3b3b;
  color: #ccc;
}

.code-block::-webkit-scrollbar, pre::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Links */
a {
  color: #006aff;
  text-decoration: none;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

a:hover {
  color: #FFD700;
  text-decoration: underline;
}

a:focus {
  outline: 2px dashed #1a0dab;
  outline-offset: 2px;
}